div {border: 0px solid #ffb000;}


:root {--wrapperPadding: 3%;} /* Падинги внутри sect__wrapper? (Основная) */
:root {--lightBrown: #55423d;} /* Фон коричневый светлый */
:root {--darkBrown: #271c19;} /* Фон коричневый темный */
:root {--pink: #ffc0ad;} /* Фон Розовый */
:root {--wrapperPaddingAverage: 1.8%;} /* Падинги внутри sect__wrapper? (Средняя) */
:root {--wrapperPaddingMin: 0.8%; } /* Падинги внутри sect__wrapper? (Минимальная) */
:root {--titleColor: #fffffe;} /* Цвет заголовка */
:root {--textColor: #fff3ec;} /* Цвет текста */
:root {--linkColor: #ffc0ad;} /* Цвет ссылок */


@media screen and (prefers-color-scheme: dark) {

    .sect1{
        background: var(--linkColor);
     }



}









/* HEADER	Обертка для логотипа и ссылок навигации*/

.mob-menu{
    background: var(--pink);
    width: calc(100% - 55px);
    height: 100vh;
    display: flex;
    flex-direction: column;
	/* justify-content: center; */
	align-items: flex-end;
	column-gap: 0.8rem;
    margin-right: 0.8rem;
    position: fixed;
    left: -100%;
    z-index: 9;
    transition: 0.9s
}
.mob-menu__logo{
	font-family: 'Little Caesar';
	color: #ffb000;
	font-size: 3em;
	white-space: nowrap;
}
.mob-menu__link{
	font-family: Proxima-nova, sans-serif;
	color: var(--textColor);
	font-size: 2em;
}
/* HEADER	Кнопки из навигации*/

.mob-menu__button form{
	width: 100%;
	height: 40px;

}
.mob-menu__button button{
	width: 100%;
	height: 100%;
	background-color: #ffc0ad;
	border-radius: 5px;
	font-size: 20px;
	color: #271c19;
	font-family: Proxima-nova, sans-serif;
	cursor: pointer;
}
.header__mob-menu > .first-child{
	background-color: #ffffff00;
	color: #ffc0ad;
	border: 2px solid #ffc0ad;
}











