@media screen and (max-width: 1300px) {
    body{
        font-size: 95%;
    }
}
@media screen and (max-width: 1200px) {
    body{
        font-size: 90%;
    }
}
@media screen and (max-width: 1100px) {

}
@media screen and (max-width: 1000px) {
    body{
        font-size: 85%;
    }
    /* SECT-5 Карточка */
    .sect5__card-wrapper{
        display: block;
    }
    .sect5__card{
        margin: 10px auto;
    }
}



@media screen and (max-aspect-ratio: 1/1) { 
    .sect1__wrapper{
        background-color: #271c19b0;

    }

@media screen and (max-width: 900px) {
    body{
        font-size: 80%;
    }
      /* HEADER*/


    /* SECT-1 */
    .sect1__wrapper{
        display: block;
        /* background-color: blue; */
        height: auto;
    }
    
    /* SECT-1 Блок с текстом*/
    .sect1__body{
        width: 100%;
        align-items: center;
    }
    .sect1__body h1{
        font-size: 4.1em;
        text-align: center;
    }
    .sect1__body p{
        font-size: 1.6em;
        text-align: center;
    }

    /* SECT-1 	Кнопки под текстом*/
    .sect1__button{
        width: 100%;
        max-width: 450px;
    }
    .sect1__button button{
        width: 100%;
        height: 40px;
    }
    .sect1__button form{
        width: 100%;
    }
    .sect1__button form:last-child{
        margin-left: 5px;
    }
    /* SECT-1 Блок с SVG картинками*/
    .sect1__img{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50%;
        margin: 2em auto;
    }
    .sect1__img img{
        width: 28%;
    }
}
}
    @media screen and (max-width: 900px) {

    .title{font-size: 2.5em;}
    .text{font-size: 1.4em;}
    .sect2__card-wrapper{
        display: block;
    }
       .sect2__card-wrapper{
        margin: -5px auto;
    } 
    .sect2__card{
        margin: 10px auto;
    }
     /* SECT-3 Карточка */
    .sect3__card-wrapper{/* Кбираем флекс чтоб карточки стали в колону*/
        grid-template: none;
    }
    .sect3__card{

    }

}


@media screen and (max-width: 800px) {
    /* .header__link {
        font-size: 3em;
    } */
    body{
        font-size: 75%;
    }
    /* HEADER*/
    .header__link{
        display: none;
    }
    .header__button form{
        display: none;
    }
    .svg-menu{
        display: block;
    }

    .sect6__list{
        margin: 1.4em;
    }

}

@media screen and (max-width: 750px) {


}


@media screen and (max-width: 700px) {
    body{
        font-size: 70%;
    }

}

@media screen and (max-width: 650px) {


     .sect4__info{
        width: 100%;
        margin: 0 auto;
     }
     .sect4__img{
         display: none;
     }

     .sect6__wrapper{

     }
     .sect6__list{
        margin: 1.3em;

    }

}


@media screen and (max-width: 580px) {

    .sect1__wrapper{
        height: auto;
        display: block;
     }
     .sect1__body{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .sect1__body h1 {
        font-size: 3.5em;
    }
    .sect1__img{
        width: 100%;
    }

     /* .sect1__img{
        display: flex;
        justify-content: center;
        width: 100%;
     } */
    }

@media screen and (max-width: 460px) {

    /* .sect1__wrapper{
        height: 95vh;
     } */
    .header__link{
        display: none;
    }
    .header__nav-icon{
        display: block
    }
    .sect1__wrapper{
        display: block;
      
    }

            /* SECT-1 Блок с текстом*/
            .sect1__body{
                width: 100%;
                align-items: center;
            }
            .sect1__body h1{
                font-size: 2.7em;
            }
            .sect1__body p{
                font-size: 1.6em;
            }

            /* SECT-1 	Кнопки под текстом*/
                .sect1__button{
            flex-direction: column;
            margin: 0;
            }
        .sect1__button{
            width: 100%;
            max-width: 520px;
            }
        .sect1__button button{
            width: 80%;
            height: 35px;
            margin: 5px auto;
            }
    .sect1__body span {
          font-size: 1em;
       }

    .sect1__button form:last-child{
        margin-left: 0px;
        }







    /* SECT-5 Обертка одной карточки */
    .sect5__card{
        overflow: hidden;
        min-width: 17em;
        min-width: auto;
        height: 350px;
        display: block;
        position: relative;
    }
    .sect5__card:hover  .sect5__card-info{
        top: -80%;
    }

    .sect5__card-img{
        display: flex;
        justify-content: center;
        width: 250px;
        /* height: 90% ; */
        overflow: hidden;
        margin: 0 auto;
    }




    .sect5__card-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 240px;
        margin: 0 auto;
        position: relative;
        top: 0%;
        left: 0%;
        transition: top  0.3s;
    }
    .sect5__card-info p{
        color:  #271c19;
    }
    .clip-path{
        display: block;
        clip-path: circle(0%);
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        opacity: 50%;
        transition: clip-path  0.9s;
    }
    .sect5__card:hover  .clip-path{
        clip-path: circle(100%);
    }



    .sect6__list{
        row-gap: 8px;
        margin: 2em;
    }





    
}

@media screen and (max-width: 400px) {

    body{
        font-size: 70%;
    }
}

@media screen and (max-width: 360px) {
    /* body{
        font-size: 50%;
    } */

    .sect4__info{
        width: 100%;
     }
 
     .header__logo{
        font-size: 2em;
    }
    /* SECT-2 картинка карточки */
    .sect2__card-img img{
        height: 200px;
    }
    .sect6__list{
        margin: 0.1em;
    }
}







  @media screen and (min-width: 2500px) {

    body{
        font-size: 270%;
    }

    .header__wrapper, .sect1__wrapper, .sect2__wrapper,
    .sect3__wrapper,.sect4__wrapper,.sect5__wrapper,
    .sect6__wrapper, .sect7__wrapper {
        max-width: 3500px;

     }
}





/*111111111111111111111111111111111111111111111111111111*/



@media screen and (max-height: 600px) and (min-width: 580px) {
    .sect1{
        font-size: 90%;
    }
}
@media screen and (max-height: 550px) and (min-width: 580px) {
    .sect1{
        font-size: 80%;
    }
    .sect4__img img{
        position: sticky;
        top: 0;
        width: 100%;
        height: 100vh;
     }
    .sect1__button button{
        width: 7em;
        height: 30px;
    }
}
@media screen and (max-height: 460px) and (min-width: 580px) {
    .sect1{
        font-size: 70%;
    }
    .sect1__body{
        width: 60%;
    }
    .sect1__img{
        width: 40%;
    }
    .sect1__body h1 {
        font-size: 3.5em;
    }
}


/*111111111111111111111111111111111111111111111111111111*/




@media screen and (min-aspect-ratio: 10/6) { 

    @media screen and (max-height: 550px) {

    }

    @media screen and (max-height: 480px) {

    }
    @media screen and (max-height: 340px) {
        .sect1__wrapper{
            height: auto;
            display: block;
         }
         .sect1__body{
            width: 100%;
            align-items: center;
            text-align: center;
        }
        .sect1__img{
            width: 100%;
        }
    }

    .sect1__wrapper{
        background: #c8921e91;

    }
}