@media screen and (max-width: 1300px) {
    body{
        font-size: 95%;
    }
}
@media screen and (max-width: 1200px) {
    body{
        font-size: 90%;
    }
}
@media screen and (max-width: 1100px) {
    body{
        font-size: 85%;
    }
}
@media screen and (max-width: 1000px) {
    body{
        font-size: 80%;
    }
    /* SECT-5 Карточка */
    .sect5__card-wrapper{
        display: block;
    }
    .sect5__card{
        margin: 20px auto;
    }
}

@media screen and (max-aspect-ratio: 1/1) { 

@media screen and (max-width: 900px) {
    body{
        font-size: 75%;
    }

    /* SECT-1 */
    .sect1__wrapper{
        flex-direction: column;
    }
    /* SECT-1 Блок с текстом*/
    .sect1__body{
        width: auto;
        align-items: center;
        text-align: center;
        margin-top: 3em;
    }
    .sect1__body h1{
        font-size: 4.1em;
    }
    .sect1__body p{
        font-size: 1.6em;
    }
}
}

@media screen and (max-width: 900px) {

    .title{font-size: 2.5em;}
    .text{font-size: 1.4em;}

    /* SECT-2 Карточка */
    .sect2__card-wrapper{
        display: block;
    }
    .sect2__card{
        margin: 1em auto;
        flex-direction:unset; 
    }
    .sect2__card .none-bottom{
        display: block;
    }
    .sect2__card .none-top{
        display: none;
    }

     /* SECT-3 Карточка */
    .sect3__card-wrapper{
        grid-template: none;
    }
}

@media screen and (max-width: 800px) {
    body{
        font-size: 70%;
    }
}

@media screen and (max-width: 750px) {

    /* HEADER*/
    .header__link{
        display: none;
    }
    .header__button button{
        display: none;
    }
    .svg-menu{
        display: block;
    }
    .header__button {
        column-gap: 0em; 
    }
    /* SECT-6 */
    .sect6__wrapper{
        flex-wrap: wrap;
    }
    .sect6__list{
        margin: 0.9em;
    }
}


@media screen and (max-width: 700px) {

}

@media screen and (max-width: 650px) {

    /* SECT-1 */


    /* SECT-4*/
     .sect4__img{
         display: none;
     }
     .sect4__info{
        width: 100%;
     }

}


@media screen and (max-width: 580px) {

    body{
        font-size: 60%;
    }

    .sect1__body h1 {
        font-size: 3.1em;
    }

    /* SECT-2 */
    .sect2__card {
        MAX-width: 350px;
        flex-direction: column;
    }
    /* SECT-6*/
    .sect6__list{
        margin: 0.2em;
        padding: 1em;
    }
      
}

@media screen and (max-width: 460px) {

     /* SECT-1 Блок с текстом*/
    .sect1__body h1{
        font-size: 2.7em;
    }
    .sect1__body p{
         font-size: 1.6em;
    }
    /* SECT-1 	Кнопки под текстом*/
    .sect1__button{
        flex-direction: column;
        width: 100%;
    }
    .sect1__button button{
        width: 70%;
        margin: 0.3em auto;
     }  

    /* SECT-5 Обертка одной карточки */
    .sect5__card{
        overflow: hidden;
        max-width: 300px;
        display: block;
        position: relative;
    }
    .sect5__card:hover  .sect5__card-info{
        top: -80%;
    }
    .sect5__card-img{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 90%;
    }
    .sect5__card-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 0%;
        left: 0%;
        transition: top  0.3s;
    }
    .sect5__card-info p{
    }
    .clip-path{
        display: block;
        clip-path: circle(0%);
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        opacity: 60%;
        transition: clip-path  0.9s;
    }
    .sect5__card:hover  .clip-path{
        clip-path: circle(100%);
    }

}

@media screen and (max-width: 400px) {

}

@media screen and (max-width: 360px) {
    /* HEADER */
     .header__logo{
        font-size: 2.3em;
    }
}

@media screen and (max-aspect-ratio: 10/12) { 
    /*Еесли длина больше чем ширина на 20% то первый экран перестанет растягиватся на весю viewport*/
    .sect1__wrapper{
        /* background: chartreuse; */
        height: auto
     }
    .sect1__body {
        margin-top: 3em;
    }
}

@media screen and (max-height: 550px){
    .sect1{
        font-size: 80%;
    }
    .sect1__button button{
        height: 3em;
    }
    .sect4__img img{
        position: sticky;
        top: 0;
        width: 100%;
        height: 100vh;
     }
}

@media screen and (max-height: 460px){
    .header__wrapper{
        height: 4em;
    }
    .sect1{
        font-size: 70%;
    }
    .sect1__body{
        width: 60%;
    }
}

@media screen and (max-height: 375px){
    .header__wrapper{
        height: 3em;
    }
    .sect1{
        font-size: 60%;
    }
    .sect1__img {
        height: 95%;
        margin: 0;
    }
}

@media screen and (max-height: 290px) {
    .sect1__img{
        display: none;
     }
    .sect1__body{
        width: 100%;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-height: 200px){
    .header__wrapper{
        height: 2.5em;
    }
    .sect1, .header{
        font-size: 50%;
    }

}

@media screen and (max-width: 460px) {
    /* SECT-1*/
    .sect1__body {
        margin-top: 0em;
    }
}



@media screen and (min-width: 2500px) {

    body{
        font-size: 270%;
    }

    .header__wrapper, .sect1__wrapper, .sect2__wrapper,
    .sect3__wrapper,.sect4__wrapper,.sect5__wrapper,
    .sect6__wrapper, .sect7__wrapper {
        max-width: 3500px;

     }
}
