*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{text-decoration: none; }
button{
	border: none;
	border: 2px solid #ffc0ad;
	border-radius: 5px;
	background-color: #ffc0ad;
	cursor: pointer;
	font-family: Proxima-nova, sans-serif;
}

body{
	background: #191919;
	line-height: 1;
	font-size: 100%;
	font-family: Proxima-nova, sans-serif;
}
.wrapper-padding{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
	padding: var(--wrapperPadding);
	
}
@font-face {
	font-family: 'Proxima-nova';
	src:url('../fonts/ProximaNova-Bold.woff') format('woff2'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'), 
		url('../fonts/ProximaNova-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Little Caesar';
	src: url('../fonts/little_caesar.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/little_caesar.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/little_caesar.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/little_caesar.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/little_caesar.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/little_caesar.svg#little_caesar') format('svg'); /* Chrome < 4, Legacy iOS */
}

/* HEADER */
header {
	background: var(--lightBrown);
}
.header__wrapper{
	height: 5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 1em;
}
/* HEADER	Стили для логотипа и ссылок навигации*/
.header__logo{
	font-family: 'Little Caesar';
	color: #ffb000;
	font-size: 2.8em;
	white-space: nowrap;
}
.header__nav-wrapper{
	width: 100%;
	white-space: nowrap;
}
.header__link{
	color: var(--textColor);
	font-size: 1.8em;
	margin: 0 0.4em;
}
/* HEADER	Кнопки из навигации*/
.svg-menu{
	display: none; /* Кнопка мобильной навигации ждет своего часа*/
}
.header__button{
	display: flex;
	justify-content: flex-end;
	column-gap: 0.5em;
	width: 100%;
	max-width: 320px;
}
.header__button button{
	width: 6em;
	height: 1.7em;
	font-size: 1em;
	color: #271c19;
}
#header__first-child{
	background-color: #ffffff00;
	color: #ffc0ad;
	border: 2px solid #ffc0ad;
}

/* SECT-1*/
.sect1{
	background: var(--lightBrown);
 }
 .sect1__wrapper{
	height: calc(100vh - 5em);
	display: flex;
	justify-content: center;
 }
 /* SECT-1 Блок с текстом*/
 .sect1__body{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 1em;
 }
.sect1__body h1{
	font-size: 4.7em;
	color: var(--titleColor);
}
.sect1__body p{
	font-size: 2em;
	color:var(--textColor);

}
/* SECT-1 	Кнопки*/
.sect1__button{
	display: flex;
	column-gap: 1em;
}
.sect1__button button{
	width: 10em;
	height: 2.2em;
	font-size: 1em;
	color: #271c19;
}
#sect1__last-child{
	background-color: #ffffff00;
	color: #ffc0ad;
	border: 2px solid #ffc0ad;
}

/* SECT-1 Ссылка под кнопками */
.link{
	font-size: 1.2em;
	color: var(--titleColor);
	margin: 0.2em 0.6em;
}
.link a{
	color: var(--linkColor);
}
/* SECT-1 Блок с SVG картинками*/
 .sect1__img{
	display: flex;
	width: 50%;
	height: calc(100% - 5em);
	margin: 1em auto;
 }
 .sect1__img img{
	width: 50%;
 }

/* SECT-2 */
.sect2{
	background: var(--darkBrown);
 }
 /* SECT-2 Код для фоновой SVG декорации */
 .custom-shape-divider-top-1610055168 {
   position: absolute;
   top: -0.1em; /* по непонятной причине при нуле появляется полоса */
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
	transform: rotate(180deg);
}
.custom-shape-divider-top-1610055168 svg {
   position: relative;
   display: block;
   width: calc(100% + 1.3px);
   height: 56px;
}
/* SECT-2 Заголовок НЕЗАВИСИМЫЙ */
.title{
	font-size: 4em;
	color: var(--titleColor);
	text-align: center;
   margin-top: calc(0.2em + 56px); /* Отступ необходим для оталкивания от декоративного svg, в пикселях размер svg, в em то насколько оталкиватся*/
	margin-bottom: 0.5em ;
}
/* SECT-2 Текст под заголовком НЕЗАВИСИМЫЙ */
.text{
	max-width: 900px;
	font-size: 2em;
	color: var(--textColor);
	text-align: center;
	margin: 0 auto;
}
/* SECT-2 Карточка */
.sect2__card-wrapper{
	display: flex;
	justify-content: space-between;
	column-gap: 1em;
	margin: 50px auto;
}
/* SECT-2 Обертка одной карточки */
.sect2__card{
	background-color: #55423d;
	width: 100%;
	min-width: 250px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1em;
	box-shadow: 0px 0px 3px 1px #ffb000;
	padding: 0.5em;
}
/* SECT-2 картинка карточки */
.sect2__card .none-bottom{
	display: none;
}
.sect2__card-img{
	box-shadow: 0px 0px 0px 0px #ffffff
}
.sect2__card-img img{
	height: 18em;
	transform: rotateY(180deg);
}
/* SECT-2 заголовок карточки */
.sect2__card-title{
	font-size: 2.5em;
	text-align: center;
	color: var(--titleColor);
	margin: 5px;
}
/* SECT-2 текст карточки */
.sect2__card-text{
	font-size: 1.5em;
	color: var(--textColor);
	text-align: justify;
	margin: 0.3em 0.5em;
}
/* SECT-2 кнопка карточки */
.sect2__link{
	color: var(--linkColor);
}
.sect2__card-button{
	width: 100px;
	height: 30px;
	background-color: #ffffff00;
	color: #ffc0ad;
	margin: 0.3em auto;
}

/* SECT-3 */
.sect3{
	background: var(--lightBrown);
 }
 /* .sect3__wrapper{
 } */
 
 /* SECT-3 Карточка */
.sect3__card-wrapper{
	display: grid;
	grid-template: 1fr 1fr/1fr 1fr;
	grid-gap: 2em;
	margin: 3em auto;
	max-width: 1400px;
}
/* SECT-3 Обертка одной карточки */
.sect3__card{
	background-color: #ffc0ad;
	width: 100%;
	border-radius: 5px;
	display: flex;
	align-items: center;
	box-shadow: 0px 0px 3px 1px #ffb000;
}
/* SECT-3 картинка карточки */
.sect3__card-header{
	margin: 15px;
}
/* SECT-3 текст карточки */
.sect3__card-text{
	font-size: 1.3em;
	color: var(--darkBrownr);
	margin: 20px;
}

/* SECT-4*/
.sect4{
	background:var(--darkBrown);
 }
 .sect4__content{
	max-width: 1400px;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
 }
 .sect4__info{
	width: 60%;
	height: 100%;
	position: relative;
 }
 .sect4__linear{
	width: 0%;
	height: 70%;
	border-left: 3px dotted #ffb000;;
	position: absolute;
	top: 50%;
	left: 60px;
	transform: translate(0%, -50%);
 }
 .sect4__svg-p{
	height: 25%;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;
 }
 .sect4__svg-p img{
	margin: 10px;
 }
 .sect4__svg-p p{
	font-family: Proxima-nova, sans-serif;
	font-size: 1.3em;
	color: var(--textColor);
	margin: 5px;
 }

 .sect4__img{
	width: 40%;
	height: 100%;
 }
 .sect4__img img{
	width: 100%;
	height: 100%;
	transform: rotateY(180deg);
 }
/* SECT-4 кнопка карточки */
 .sect4__button {
	width: 230px;
	margin: 1.7em auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sect4__button form{
	width: 100%;
}
 .sect4__button button{
	width: 100%;
	height: 40px;
	border-radius: 5px;
	font-size: 20px;
	color: var(--darkBrown);
}
/* SECT-4 Ссылка под кнопками */
.sect4__button a{
	color: var(--linkColor);
	font-size: 1em;
	margin: 0.3em;
}

/* SECT-5*/
.sect5{
	background:var(--lightBrown);
 }
/* SECT-5 Контейнер карточек */
.sect5__card-wrapper{
	max-width: 1400px;
	margin: 2em auto;
	display: flex;
	justify-content: space-evenly;
	column-gap: 1em;
}
/* SECT-5 Обертка одной карточки */
.sect5__card{
	background-color: var(--darkBrown);
	height: 380px;
	border-radius: 5px;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 1em;
	box-shadow: 0px 0px 3px 1px #ffb000;
	/* border: 1px solid #fff3ec00; */
}
/* SECT-5 картинка карточки */
.sect5__card-img{
	background: url(../img/sect4-1.jpg) center top no-repeat;
	background-size: cover;
	width: 40%;
	height: 100%;
}
/* SECT-5 Текст карточки */
.sect5__card-info{
	width: 60%;
}
/* SECT-5 заголовок карточки */
.sect5__card-info h2 {
	font-family: 'Little Caesar';
	color: #ffb000;
	font-size: 2em;
	text-align: center;
	white-space: nowrap;
	margin: 0.5em auto;
}
/* SECT-5 текст карточки */
.sect5__card-info p{
	font-size: 1.3em;
	color: var(--textColor);
	text-align: justify;
}
.clip-path{/*Для моб экранов*/
	display: none;
}

/* SECT-6*/
.sect6{
	background: var(--pink);
}
.sect6__wrapper{
	display: flex;
	justify-content: space-evenly;
}


.sect6__logo{
	width: 12em;
}
.sect6__logo img{
	width: 100%;
}
.sect6__sic-icon img{
	width: 3em;
}
.sect6__list{
	background-color: #555f5f7a;
	display: flex;
	flex-direction: column;
	row-gap: 0.4em;
	margin: 0.2em;
	padding: 1.5em;
	border-radius: 5px;
}
.sect6__link-title{
	color: #271c19;
	font-size: 1.5em;
}
 .sect6__link{
	color: #271c19;
 }

